.my-container{
  background: rgb(82,86,160);
background: linear-gradient(90deg, rgba(82,86,160,1) 0%, rgba(82,86,160,1) 56%, rgba(80,86,162,1) 100%);
  padding-top: 200px;
  padding-right: 30%;
  padding-left: 30%;
  padding-bottom: 200px;
}

.container-fluid {
  height: 100%;
  padding-top: 200px;
  width: 100px;
  padding-bottom: 100%;
}

.alert-danger {
  color: crimson;
  background: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 5px;
  border: 2px;
}

.container-error-message {
  padding: 3px;
}

.form-control {
  background-color: azure;
  width: 200px;

}

